# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

platform:
  - x86
  - AnyCPU

configuration:
  - Debug
  - Release
  
before_build:
  - cmake " -G"Visual Studio 12" " -H. -B_builds
  - cmake --build _builds --config "%CONFIG%"
