language: cpp

compiler:
  - gcc
  - clang

env:
  - TRAVIS_BUILD_TYPE=Debug
  - TRAVIS_BUILD_TYPE=Release

install:
  - sudo sh -c 'echo "deb http://www.icub.org/ubuntu precise contrib/science" > /etc/apt/sources.list.d/icub.list'
  - sudo add-apt-repository -y ppa:kalakris/cmake
  - sudo apt-get update
  - sudo apt-get install -qq libeigen3-dev libboost-system-dev libboost-thread-dev libtinyxml-dev
  - sudo apt-get --force-yes install icub
  - sudo apt-get install cmake

before_script:
  - cmake --version
  - mkdir build
  - cd build
  # YCM need a properly defined github username & email to work
  - git config --global user.name Silvio Traversaro
  - git config --global user.email pegua1@gmail.com
  # Build and install codyco-superbuild
  - cmake -DCMAKE_BUILD_TYPE=${TRAVIS_BUILD_TYPE} ..

 
script:
  - make

notifications:
  email:
    - pegua1@gmail.com
