version: 1.0.{build}
os: unstable

branches:
  except:
  - travis

clone_folder: c:\dev\codyco-superbuild

environment:
  ACE_ROOT:          c:/Program Files (x86)/robotology/ACE-6.3.4_v12_x86
  GSL_DIR:           c:/Program Files (x86)/robotology/gsl-1.14
  IPOPT_DIR:         c:/Program Files (x86)/robotology/ipopt-3.11.7
  OpenCV_DIR:        c:/Program Files (x86)/robotology/opencv-2.4.9
  Qt5_DIR:           c:/Program Files (x86)/robotology/Qt-5.4.1_v12_x86
  YARP_DIR:          c:/Program Files (x86)/robotology/yarp-2.3.66
  ICUB_DIR:          c:/Program Files (x86)/robotology/icub-1.4.0
  BOOST_ROOT:        C:\Libraries\boost
  BOOST_LIBRARYDIR:  C:\Libraries\boost\lib32-msvc-12.0
  EIGEN3_ROOT        c:\dev\Eigen3\include\eigen3
  

install:
  - ps: >-
      $dwntool = New-Object System.Net.WebClient
      
      $Stoploop = $false
      
      do {
          try {
            $dwntool.DownloadFile('https://github.com/robotology/yarp/releases/download/v2.3.66/yarp_2.3.66_v12_x86_1.exe','c:\dev\yarp.exe')
            $dwntool.DownloadFile('https://github.com/robotology/icub-main/releases/download/v1.4.0/iCub_1.4.0_v12_x86_1.exe','c:\dev\icub.exe')
            $Stoploop = $true
          }
          catch {
            Start-Sleep -Seconds 15
          }
      }
      While ($Stoploop -eq $false)
      
      
  - cmd: start "" /WAIT "c:\dev\yarp.exe" /S
  - cmd: timeout 10
  - cmd: start "" /WAIT "c:\dev\icub.exe" /S
  - cmd: timeout 10
  - cmd: dir "c:\Program Files (x86)\robotology"

  - cmd: if not exist c:\dev\Eigen3\include\eigen3\Eigen\Core (
            curl -L -o eigen-eigen-dc6cfdf9bcec.tar.gz https://bitbucket.org/eigen/eigen/get/3.2.9.tar.gz &&
            cmake -E tar zxf eigen-eigen-dc6cfdf9bcec.tar.gz &&
            cd eigen-eigen-dc6cfdf9bcec &&
            mkdir build &&
            cd build &&
            cmake -G "Visual Studio 12" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX="c:\dev\Eigen3" .. &&
            cmake --build . --target install --config Debug &&
            cd ..\..
         ) else (echo Using cached Eigen3)

build:

build_script:
  - cd c:\dev\codyco-superbuild
  - md build
  - cd build
  - cmake -G"Visual Studio 12" -DNON_INTERACTIVE_BUILD:BOOL=TRUE -DYCM_BOOTSTRAP_VERBOSE:BOOL=TRUE ..
  - msbuild /m /p:Configuration=Release /p:Platform="Win32" codyco-superbuild.sln

notifications:
  email:
  - silvio.traversaro@iit.it
  
